.newcomer{
  padding: 220px 0;
  font-family: 'Poppins',sans-serif;
  &__content{
    display: flex;
    column-gap: 223px;
    &-left{
      width: 60%;
    }
    &-right{
      display: flex;
      flex-wrap: wrap;
      column-gap: 24px;
    }
    &-title{
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 130%;
      color: rgba(255, 255, 255, 0.9);

    }
    &-subtitle{
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      color: rgba(255, 255, 255, 0.55);
    }
    &-btn{
      padding: 16px 40px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #FFFFFF;
    }
    &-card{
      padding: 28px 22px;
      width: calc(50% - 12px);
      display: flex;
      flex-direction: column;
      background: #1E252B;
      border-radius: 15px;
      cursor: pointer;
      margin-bottom: 50px;
      overflow: hidden;
      &:before{
        content: "";
        width: 65px;
        height: 65px;
        filter: blur(50px);
        background: transparent;
        position: absolute;
        top: 0;
        right: 0;
        transition: .3s;
      }
      &:hover{
        background: rgba(40, 48, 54, 0.6);
        backdrop-filter: blur(50px);
        border-radius: 15px;
        transition: .3s;
        transform: translateY(-15px);
        &:before{
          background: rgba(255, 110, 48, 0.6);
          transition: .3s;
        }
        .newcomer__contetn-card-btn{
          transition: .3s;
          background: #FF6E30;
          border-radius: 8px;
        }

      }

      &-top{
        display: flex;
        column-gap: 30px;
        align-items: center;
      }
      &-title{
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: rgba(255, 255, 255, 0.78);
        margin-bottom: 3px;
      }
      &-price{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: rgba(255, 165, 55, 0.55);
      }
      &-text{
        display: flex;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.55);
        margin: 30px 0;
      }
      &-bottom{
        display: flex;
        column-gap: 43px;
      }
      &-icons{
        display: flex;
        column-gap: 12px;
      }
      &-icon{
        background: none;
      }
    }
  }
}